<nav>
  <ul class="flex-container">
    <li><a href="tel:+491636960362" class="text-bright font-yant"><i class="fas fa-phone phone-icon"></i> +49 (0)163 6960362</a></li>
    <li><a href="mailto: tim.cecatka@gmx.de" class="text-bright font-yant"><i class="far fa-envelope mail-icon"></i> tim.cecatka@gmx.de</a></li>
  </ul>
</nav>
<div id="banner">
  <header>
    <h1>Cc Websites</h1>
    <p>die passende Webseite für Ihr Unternehmen</p>
    <!-- <a href="#" class="btn">click here</a> -->
  </header>
</div>