/* Fonts */
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700|Poppins:700');

/* Fontawesome */
@import url('https://use.fontawesome.com/releases/v5.6.3/css/all.css');

/* Components */
@import url("components/banner.css");
@import url("components/header.css");
@import url("components/card.css");
@import url("components/cards.css");
@import url("components/footer.css");
@import url("components/button.css");
@import url("components/icons.css");
@import url("components/nav.css");
@import url("components/variables.css");

:root {
  font-family: Open Sans;
}

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  margin: 0;
}

h1, h2, h3, h4 {
  font-family: Poppins;
}

a {
  text-decoration: none;
  color: darkgrey;
  font-family: Open Sans;
}

p {
  color: darkgrey;
}

.container {
  max-width: 80vw;
  margin: 0 auto;
}

.container h2 {
  text-align: center;
}
/* 
@media (max-width: 960px) {
  .container {
    max-width: 90vw;
  }
} */
@media (max-width: 720px) {
  .container {
    max-width: 90vw;
  }  
}
@media (max-width: 540px) {
  .container {
    max-width: 96vw;
  }
}