.flex-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.card {
  flex: 1 0 0%; /* grow shrink basis */
}

@media ( max-width: 720px) {
  .card {
    flex-basis: 26%;
  }
}

@media ( max-width: 400px) {
  .card {
    flex-basis: 51%;
  }
}

/* non-essential demo styles */
/* .card {
  height: 50px;
  background-color: lightgreen;
  border: 2px solid white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2em;
} */