<!DOCTYPE html>
<html>
<head>
  <meta name="google-site-verification" content="SUza44dDLrnxEMPoXZnSrLcvWNr8j94LMrhPuMo32t0" />
  <meta charset="UTF-8">
  <title>Cc Websites</title>
  <link rel="shortcut icon" href="data:image/x-icon;" type="image/x-icon">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="assets/css/style.css">
</head>
<body>
  {% include header.html %}
  {{ content }}
  {% include portfolio.html %}
  {% include footer.html %}
</body>
</html>